:root {
    --color-white: #FFFFFF;

    --color-black: #000000;

    --color-light-grey: #D9D9D9;
    --color-grey: #808080;
    --color-dark-grey: #404040;
    
    --color-cyan: #007D7F;
    --color-dark-blue: #000080;

    --color-bg: var(--color-cyan);
}