.TaskbarWrapper{
    display: flex;
    align-items: center;

    width: 100%;
    height: 47px;
    margin-top: auto;

    background-color: var(--color-light-grey);

    outline: 2px solid var(--color-light-grey);
    border-top: 2px solid white;

    position: relative;
    z-index:1000;

    .StartButton{
    display: flex;
    align-items: center;

    box-shadow:
    inset -2px -2px 0 var(--color-dark-grey),
    inset  2px  2px 0 var(--color-white),
    inset -4px -4px 0 var(--color-grey);

    width: 93px;
    height: 41px;
    padding: 0 2px;

    font-size: inherit;

    cursor: pointer;

    image-rendering: pixelated;

    &:active{
        box-shadow:
        inset -2px -2px 0 var(--color-white),
        inset  2px  2px 0 var(--color-grey);

        background-image:  repeating-linear-gradient(45deg,#bdbebd 0, #bdbebd 25%, #fff 0, #fff 50%), repeating-linear-gradient(45deg, #838383 25%, #e5e5f7 25%, #e5e5f7 75%, #838383 75%, #838383);
        background-position: 0 0, 4px 4px;
        background-size: 2px 2px;
    }
    }

    .startPressed{
        box-shadow:
        inset -2px -2px 0 var(--color-white),
        inset  2px  2px 0 var(--color-grey);

        background-image:  repeating-linear-gradient(45deg,#bdbebd 0, #bdbebd 25%, #fff 0, #fff 50%), repeating-linear-gradient(45deg, #838383 25%, #e5e5f7 25%, #e5e5f7 75%, #838383 75%, #838383);
        background-position: 0 0, 4px 4px;
        background-size: 2px 2px;
    }

    .volumePressed{
        img{
            outline: dotted var(--color-grey);
        }
    }

    .Logo{
        padding: 2px;
        height: 29px;
    }

    .Volume{
        height: 29px;
    }

    .VolumeButton{
        position:absolute;
        right: 125px;

        cursor: pointer;
    }

    time{
        display: flex;
        align-items: center;

        box-shadow:
        inset -2px -2px 0 var(--color-white),
        inset  2px  2px 0 var(--color-grey);

        height: 41px;
        width: 162px;

        padding: 0 0 0 75px;

        font-size: inherit;

        &:last-child {
            margin-left:auto;
        }
        image-rendering: pixelated;
    }
}