.PopupWrapper{
    position: absolute;

    padding-top: env(safe-area-inset-top);

    display: none;
    align-items: center;
    flex-direction: column;

    box-shadow:
    inset -2px -2px 0 var(--color-dark-grey),
    inset  2px  2px 0 var(--color-light-grey),
    inset -4px -4px 0 var(--color-grey),
    inset 4px 4px 0 var(--color-white);
    background-color: var(--color-light-grey);

    width: 337px;
    height: auto;

    padding: 5px;

    transition: 0.01s;
    z-index: 1;

}



.Titlebar{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    top: 0;

    width: 100%;
    height: 23px;
    padding: 2px;

    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;

    padding: 10px;

    image-rendering: pixelated;

    p{
        font-size: inherit;
        padding: 10px;
    }
}

.CloseButton{
    box-shadow:
    inset -2px -2px 0 var(--color-dark-grey),
    inset  2px  2px 0 var(--color-white),
    inset -4px -4px 0 var(--color-grey);
    background-color: var(--color-light-grey);
    color: var(--color-black);

    &:last-child {
        margin-left:auto;
    }

    width: 18px;
    height: 17px;

    padding: 0 0 5px 0;

    cursor: pointer;

    &:active{
        box-shadow:
        inset -2px -2px 0 var(--color-white),
        inset  2px  2px 0 var(--color-grey);
    }
}

.CancelButton{
    width: 79px;
    height: 22px;

    box-shadow:
    inset -2px -2px 0 var(--color-dark-grey),
    inset  2px  2px 0 var(--color-white),
    inset -4px -4px 0 var(--color-grey);
    background-color: var(--color-light-grey);

    justify-content: center;
    margin-bottom: 10px;

    cursor: pointer;

    &:active{
        box-shadow:
        inset -2px -2px 0 var(--color-white),
        inset  2px  2px 0 var(--color-grey);
    }
}

.OpenPopupWrapper{
    display: flex;
}

.ActivePopupWrapper {
    z-index: 1000;
}